/* styles.css 
   of meta-react-basics.bauska.org */

* {
  margin-left: 1rem;
  padding: 0;
  font-family: Inter, Bahnschrift, Georgia, Consolas, Calibri, sans-serif, Courier;
}

b { 
  font-family: Courier; 
  background-color: #d3d3d3;  /* light gray was: 7fff00; green slime */
  padding: 0;
  margin: 0 auto;
  font-size: 13px;
}
i { 
  font-family: Courier; 
  background-color: #d3d3d3;  /* light gray */
  padding: 0;
  margin: 0 auto;
  font-size: 13px;
}

p { font-size: 14px; margin-left: 1rem; }

h1 { font-size: 22px; margin-left: 1rem; }
h2 { font-size: 18px; margin-left: 1rem; }
h3 { font-size: 15px; margin-left: 1rem; }
h4 { font-size: 13px; margin-left: 1rem; }
h5 { font-size: 12px; margin-left: 1rem; }
h6 { font-size: 11[x; margin-left: 1rem; }

.bold-text {
  font-weight: 750;
}

ul li,
ol li {
  margin-left: 1.75rem;
}
ul li li,
ol li li {
  margin-left: 2rem;
}

footer,
header,
main {
  margin: 0 auto;
  max-width: var(--width-content);
  margin-left: 1.0rem;  /* 2% */
  padding: 1rem 0.5rem;  /* 3rem 1rem */
}

hr {
  background-color: var(--color-bg-secondary);
  border: none;
  height: 1px;
  margin: 4rem 0;
  width: 100%;
}

/* keep this shit summary / details */
details {
  font-size: 13px;
  font-family: Consolas, Inter, Bahnschrift, Georgia, Calibri, sans-serif;
  width: 143px;  /* was 620 */
  margin-left: 0rem;
  margin: .5em 0;
}

details > summary {
  padding: .15rem 0.5rem;
  width: 8em;  /* 15em */
  line-height: 110%; /* or whatever height you like, was 160% */
  background-color: #d3d3d3;  /* very light gray */
  border: none;
  box-shadow: 3px 3px 4px blue;
  cursor: pointer;  /* switch from arrow to finger pointer */
}

details > p {
  border-radius: 0 0 5px 5px;
  background-color: #fff;  /* fff white */
  padding: 0.5rem 0.5rem;  /* 2 6 then .15rem 0.5rem */
  margin: 0;
  margin-left: 0rem;
  box-shadow: 3px 3px 4px darkgreen;
}

details[open] > summary {
  background-color: #00ff00;  /* lime green */
}

pre {
  font-family: Consolas;
  line-height:110%;
  font-size: 12px;
  margin-left: 1.3rem;
  margin: 0;  /* 1rem 0 */
  max-width: var(--width-card-wide);
  padding: 0.3rem 0.5rem;  /* 1rem 0 then .15rem 0.5rem */
}

pre code,
pre samp {
  line-height: 110%;
  font-size: 12px;
  font-family: Consolas;
  display: block;
  margin-left: 1rem;
  max-width: var(--width-card-wide);
  padding: 0.15rem .5rem;  /* 2% 8% 0.5rem 2rem */
  white-space: pre-wrap;
}

img.displayed {
  display: block;
  margin: 0 auto; }
.border {
  border-width: 1px;
  border-color: #778899;  /* dark grayish blue */
  border-style: solid; 
  }

a {
  padding: 0;
  font-family: Courier; 
  margin: 0 auto;
  outline: none;
  font-size: 13px;
}

a:link {
  text-decoration: none;
  color: #6900ff;  /* violet */
}

a:visited {
  color: #a5c300;  /* strong yellow */
}

a:focus {
  text-decoration: none;
  background: #bae498;  /* very soft green */
}

a:hover {
  text-decoration: none;
  background: #cdfeaa;  /* very soft green */
}

a:active {
  background: #6900ff;  /* violet */
  color: #cdfeaa;  /* very soft green */
}
